<div class='section-title'>
	<h1>Gestión</h1>
</div>

<div class='section-table'>
	<div class='schedule-table-container'>
		<table class='content-table'>
			<thead>
				<tr>
					<th class='schedules'></th>
					<th class='centered'>Lunes</th>
					<th class='centered'>Martes</th>
					<th class='centered'>Miércoles</th>
					<th class='centered'>Jueves</th>
					<th class='centered'>Viernes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class='centered'>07:35 - 08:35</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class='centered'>08:35 - 09:35</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class='centered'>10:00 - 11:00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class='centered'>11:00 - 12:00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class='centered'>13:00 - 14:00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class='centered'>14:00 - 15:00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class='centered'>15:20 - 16:20</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class='centered'>16:20 - 17:20</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class='centered'>17:20 - 18:10</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class='schedule-cards'>
	<hr />
	<div class='cards-container'>
		<div class='act-card'>
			<div class='header-card'>
				<h1>name</h1>

				{{! this doesnt work because we dont have the id yet }}
				<a href='/deleteAct/{{id}}'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<hr />
			<div class='act-content'>
				<p>Recurso: {{resource}}</p>
				<p>Fecha: {{date}}</p>
				<p>Hora: {{time}}</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>name</h1>

				{{! this doesnt work because we dont have the id yet }}
				<a href='/deleteAct/{{id}}'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<div class='act-content'>
				<p>Recurso: {{resource}}</p>
				<p>Fecha: {{date}}</p>
				<p>Hora: {{time}}</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>name</h1>

				{{! this doesnt work because we dont have the id yet }}
				<a href='/deleteAct/{{id}}'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<div class='act-content'>
				<p>Recurso: {{resource}}</p>
				<p>Fecha: {{date}}</p>
				<p>Hora: {{time}}</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>name</h1>

				{{! this doesnt work because we dont have the id yet }}
				<a href='/deleteAct/{{id}}'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<div class='act-content'>
				<p>Recurso: {{resource}}</p>
				<p>Fecha: {{date}}</p>
				<p>Hora: {{time}}</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>name</h1>

				{{! this doesnt work because we dont have the id yet }}
				<a href='/deleteAct/{{id}}'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<div class='act-content'>
				<p>Recurso: {{resource}}</p>
				<p>Fecha: {{date}}</p>
				<p>Hora: {{time}}</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>name</h1>

				{{! this doesnt work because we dont have the id yet }}
				<a href='/deleteAct/{{id}}'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<div class='act-content'>
				<p>Recurso: {{resource}}</p>
				<p>Fecha: {{date}}</p>
				<p>Hora: {{time}}</p>
			</div>
		</div>
		<div class='act-card'>
			<div class='header-card'>
				<h1>name</h1>

				{{! this doesnt work because we dont have the id yet }}
				<a href='/deleteAct/{{id}}'><img src='/img/trash-solid.svg' alt='trash can' /></a>
			</div>
			<div class='act-content'>
				<p>Recurso: {{resource}}</p>
				<p>Fecha: {{date}}</p>
				<p>Hora: {{time}}</p>
			</div>
		</div>
	</div>
</div>