<div class='act-container'>
	<div class='sub-act-container'>
		{{#if data}}
			{{#each data}}
				<div class='act-card'>
					<div class='header-card'>
						<h1>{{name}}</h1>
						<a href='/deleteAct/{{id}}'><img src='/img/trash-solid.svg' alt='trash can' /></a>
					</div>
					<hr />
					<div class='act-content'>
						<p>Recurso: {{resource}}</p>
						<p>Fecha: {{date}}</p>
						<p>Hora: {{time}}</p>
						<p>Estado: {{state}}</p>
					</div>
				</div>
			{{/each}}
		{{else}}
			<div class='act-card no-task-card'>
				<h1>No tienes reservas</h1>
				<a href='/activitieForm'><img src='/img/circle-plus-solid.svg' alt='Big Solid X' /></a>
			</div>
		{{/if}}
	</div>
</div>