<div class='wrapper'>
	<div class='form-box'>
		<form action='/activitieForm' method='post' id='form'>
			<div class='input-box'>
				<select name='curso' required>
					<option disabled selected hidden value> -- Seleccione el curso -- </option>
					{{#each data.cursos}}
						<option value='{{this}}'>{{this}}</option>
					{{/each}}
				</select>
			</div>
			<div class='input-box'>
				<select name='type' required>
					<option disabled selected hidden value> -- Seleccione el recurso -- </option>
					{{#each data.resources}}
						<option value='{{this}}'>{{this}}</option>
					{{/each}}
				</select>
			</div>
			<div class='input-box'>
				<input type='date' name='date' min='{{data.actualDate}}' required />
			</div>
			<div class='input-box'>
				<select name='turno' id='time' onchange='Turns()' required>
					<option disabled selected hidden value> -- Seleccione el turno -- </option>
					<option value='mañana'>Mañana</option>
					<option value='tarde'>Tarde</option>
				</select>
			</div>
			<button type='submit' class='btn' id='btn'>Solicitar</button>
		</form>
	</div>
</div>